{% extends "base.html" %}  
{% load crispy_forms_tags %}
    { {% block head %}
    <title>Profile</title>
{% endblock head %}}
 {% block body %}

 

 <br />


<!--dividing into 3 columns-->
<div class="row">
    <!--first column-->
    <div class="col-md-3"></div>
    <!--end fisrt column-->
    <!--second column-->
    <div class="col-md-6">
            <div class="" role="alert"><p>Want to edit your profile?? You can edit your profile here!!!</p></div>
                       <form method="POST">
                           {% csrf_token %} 
                           {{ form|crispy }}
                           <br />
                           <button type="submit" class="btn btn-danger outline">Submit</button>
                       </form>
            </div>              
    </div>
    <!--end second column-->
    <!--third column-->
    <div class="col-md-3"></div>
    <!--end third column-->
</div>
<br/>
<hr/>
<!--Footer-->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy;  &middot; <a href="#">Privacy</a> CramHub 2023 <a href="#">Terms</a></p>
</footer> 
<!--end footer-->
{% endblock body %} 